.hero {
        background-size: cover;
        background-color: #3e4189;
        background-image: linear-gradient(65deg, #3e4189 64%, #ffffff 66%);
        min-height: 600px;
        background-repeat: no-repeat;
        overflow-x: hidden;    



    &__title {
        text-align: center;
        color: $primary;
        font-size: 46px;
        margin: 5px 0 
    }

    &__logo-container {
        text-align: center;
    }

    &__logo {
        width: 400px;
    }

}