.home-sponsors {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: $secondary;
  color: $primary;

  &__heading {
    text-align: center;
  }

  &__container {
    align-items: center;
  }

  &__sponsor {
    text-align: center;
  }

  &__logo {
    width: 150px;
    max-width: 100%;
    &--large {
      width: 80%;
    }
  }
}
