.honor-board {
  text-align: center;
  font-family: $title-font;
  margin: 2rem 0;

  &__links {
    background: $secondary;
    color: $primary;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  &__link {
    text-decoration: none;

    h3 {
      width: fit-content;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        height: 1px;
        border: 1px solid transparent;
        bottom: 0;
        left: 0;
        width: 0;
        transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      }
    }

    &:hover {
      h3 {
        &:after {
          width: 100%;
          border-color: $primary;
        }
      }
    }
  }

  &__title {
    color: $secondary;
  }

  .container {
    border: 3px solid $secondary;
    border-radius: 15px;
  }

  &__player {
    svg {
      display: none;
      fill: $secondary;
      width: 100px;
      height: 140px;

      @media (min-width: 1024px) {
        display: inline;
      }
    }
  }

  &__photo {
    max-width: 140px;
    display: none;

    @media (min-width: 1024px) {
      display: inline;
    }
  }

  &__player-name {
    font-size: 22px;
    color: $secondary;
  }

  &__season {
    font-style: italic;
    font-family: $primary-font;
  }
}
