.honor-board {
  text-align: center;
  font-family: $title-font;
  margin: 2rem 0;

  &__title {
    color: $secondary;
  }

  .container {
    border: 3px solid $secondary;
    border-radius: 15px;
  }

  &__player {
    svg {
      fill: $secondary;
      width: 100px;
      height: 140px;
    }
  }

  &__photo {
    max-width: 140px;
  }

  &__player-name {
    font-size: 22px;
  }

  &__season {
    font-style: italic;
    font-family: $primary-font;
  }
}
