.site {
  margin-top: 3.5rem;
  @media (min-width: 768px) {
    margin-top: 8.5rem;
  }
  @media (min-width: 1024px) {
    margin-top: 11.5rem;
  }
  @media (min-width: 1366px) {
    margin-top: 10.2rem;
  }
}

header {
  background-color: $secondary;
  font-family: $title-font;
  color: $primary;
  font-size: 1.25rem;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  width: 100%;
  top: 0;
  z-index: 9;
  position: fixed;

  #site-navigation {
    display: none;

    @media (min-width: 1024px) {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .menu-item {
      padding: 0.5rem 1rem;
    }
  }

  .site-branding {
    text-align: center;
    padding: 0 !important;

    &__logo {
      transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      @media (min-width: 1024px) {
        width: 150px;
      }
      &.shrinky {
        width: 70px;
      }
    }
  }

  .mobile-navigation {
    padding-top: 1rem;
    position: relative;
    z-index: 10;
    @media (min-width: 1024px) {
      display: none;
    }

    &__icon {
      width: 40px;
      transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      padding-top: 10px;
      &.open {
        transform: rotate(90deg);
      }
    }

    &__content {
      position: absolute;
      top: 0;
      z-index: 9;
      background: $secondary;
      height: 0;
      overflow: hidden;
      width: 100%;
      transition: all 0.2s ease-in-out;
      a {
        text-decoration: none;
      }
      ul {
        list-style-type: none;
        li {
          padding: 0.5rem 0;
        }
      }
      @media (min-width: 1024px) {
        display: none;
      }

      &.open {
        height: 100vh;
        padding-top: 10rem;
        position: relative;
      }
    }
  }
}
