.event {
    &__hero {
        text-align: center;
        background: $secondary;
        img {
            height: 450px;
        }

        .container,
        .row {
            height: 100%;
        }
    }

    &__label {
        background-color: $secondary;
        color: $primary;
        padding: 0.5rem;
    }
}
