.news {
    &__hero {
        height: 50vh;
        overflow: hidden;
        position: relative;
        margin-bottom: 1rem;

        .container,
        .row {
            height: 100%;
        }
        img {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -35%);
        }
    }

    &__label {
        background-color: $secondary;
        color: $primary;
        padding: 0.5rem;
    }

    figure {
        text-align: center;

        img {
            max-width: 500px;
        }
    }
}
