.upcoming-games {
  color: $primary;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;

  &__filter {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0.5);
    z-index: 0;
  }

  &__fixture {
    z-index: 1;
    position: relative;
    margin-bottom: 3rem;
  }

  &__title {
    @media (min-width: 1024px) {
      text-align: left;
      font-style: italic;
      font-size: 39px;
      margin: 1rem 0;
    }
  }

  &__date {
    background-color: $secondary;
    padding: 1rem 0;
    border-radius: 15px 15px 0 0;
    margin-bottom: 0;
    margin-top: 0.5rem;

    @media (min-width: 1024px) {
      background-color: $secondary;
    }
  }

  &__details {
    border: 1px solid $secondary;
    background: $primary;
    color: $secondary;
  }

  &__maps-link {
    svg {
      fill: $secondary;
      margin-bottom: 7px;
    }
  }
}
